<!-- file {{ _self }} -->
<div class="row">
    {% if '0350.registrazione' in mods.active.array %}
    <div class="col">{% include 'inc/login.registrazione.twig' %}</div>
    <div class="col">{% include 'inc/login.accesso.twig' %}</div>
    {% else %}
    <div class="col col-md-6 ml-auto mr-auto">{% include 'inc/login.accesso.twig' %}</div>
    {% endif %}
</div>
<!-- fine file {{ _self }} -->
