{# LIBRERIE #}
{% import '_lib/_navigation.twig' as nav %}
{% import '_lib/_default.twig' as cms %}

<!-- file {{ _self }} -->
<div class="col d-flex flex-row">
    <nav class="navbar navbar-expand-md navbar-light mt-auto py-0">
        <div class="collapse navbar-collapse nav-icons" id="navbarNavIcons">
            <ul class="navbar-nav flex-row mr-auto justify-content-start text-left">
                {{ nav.menu( page.template.menu.sottomenu, localization.language.ietf ) }}
            </ul>
        </div>
    </nav>
</div>
<!-- fine file {{ _self }} -->
