<!-- file {{ _self }} -->
<footer class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-center">
                <p>framework GlisWeb - template Minerva</p>
            </div>
        </div>
    </div>
</footer>
<!-- fine file {{ _self }} -->
