{# LIBRERIE #}
{% import '_lib/_navigation.twig' as nav %}

{# CODICE DELLA PAGINA #}
<!-- file esteso: {{ _self }} -->
<!DOCTYPE html>
<html lang="{{ localization.language.ietf }}">

    {# HEADER #}
    <head>

        {# HEADER STANDARD #}
        {% include '_inc/_page.head.twig' %}

    </head>

    {# BODY #}
    <body>

        {# CODICE DI APERTURA STANDARD DELLA PAGINA#}
        {% include '_inc/_page.open.twig' %}

        {# HEADER DI PAGINA #}
        {% if pages[ page.id ].etc.sheets %}
        <header class="fixed-top">
            
            <div class="row widget no-gutters linea" style=" border-bottom: 5px solid #343A40;">
                
                {% block header %}

                {% endblock header %}

                {{ nav.sheets( page, pages, localization.language.ietf, etc, form, request ) }}

            </div>

                {% block line %}

                {% endblock line %}

        </header>
        {% endif %}

        {# CONTENUTO PRINCIPALE DELLA PAGINA #}
        <main class="d-flex flex-column container-fluid w-100 vh-100 m-0">

            {% block main %}{% endblock main %}

        </main>

        {# CODICE DI CHIUSURA STANDARD DELLA PAGINA #}
        {% include '_inc/_page.close.twig' %}

        {# SCRIPT JAVASCRIPT DELLA PAGINA #}
        {% block javascript %}{% endblock javascript %}

    </body>
</html>
<!-- fine file esteso: {{ _self }} -->

