<p>fremework GlisWeb - template Aurora</p>
<p>
    {% if pages.privacy.url[ localization.language.ietf ] %}
    <a href="{{ pages.privacy.url[ localization.language.ietf ] }}">{{ pages.privacy.h1[ localization.language.ietf ] }}</a>
    {% else %}
    <!-- ATTENZIONE link alla pagina privacy non trovato per questa lingua! -->
    {% endif %}
    {% if pages.privacy.url[ localization.language.ietf ] and pages.affiliazioni.url[ localization.language.ietf ] %} | {% endif %}
    {% if pages.affiliazioni.url[ localization.language.ietf ] %}
    <a href="{{ pages.affiliazioni.url[ localization.language.ietf ] }}">{{ pages.affiliazioni.h1[ localization.language.ietf ] }}</a>
    {% else %}
    <!-- ATTENZIONE link alla pagina affiliazioni non trovato per questa lingua! -->
    {% endif %}
</p>
